@font-face{
  src: url("./fonts/RobotoMono-Thin.ttf");
  font-family: "RobotoMono";
}

*{
  font-family: "RobotoMono", monospace;
}

body{
  display: flex;
  height: 100vh;
  /* horizontal */
  justify-content: center; 
  /* vertical */
  align-items: center;
  text-align: center;

  color: #fff;
  /* https://uigradients.com/#DeepSpace */
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67)) repeat scroll 0% 0%;
}